/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/laravel.log
/public/uploads/
/laradock*/
_ide_helper*.php
.phpstorm.meta.php
/.vagrant
/.idea
/.vscode
html-coverage
Vagrantfile
after.sh
aliases
.php_cs.cache
/app/Containers/Vendor
.travis.yml
.scrutinizer.yml
.editorconfig
composer.lock
public/*
public/js/main.js
app/Containers/Ruby/test/
public/js/app.js
app/Containers/Koritsu/Analysis/UI/CLI/Commands/MakeOpenStudioBaseCommand.php
.env
